html{
	/* font-family: 'Space Mono', monospace; */
	
	text-align: center;
}

h1{
	letter-spacing: 3px;
	font-size: 50px;
	color: rgb(96, 97, 97);
}

body {
	text-align: center;
	font-family: 'Concert One', cursive;
	max-width: auto;
	margin: 0 auto;
} 

.nav .coins{
	text-align: left;
}

.nav .nav-list{
	font-family: 'Concert One', cursive;
    text-align: right;
    letter-spacing: 3px;
    padding-top: 10px; 
    padding-bottom: 10px;
	font-size: 1.1em;
	padding-right: 50px;
    
    /* margin-right: 30px; */

  }.nav .nav-list a, p {
	/* padding-bottom: 5px; */
	color: rgb(79, 143, 116);
    text-decoration: none;
    /* border-bottom: 1px solid rgba(155, 169, 236, 0.822);  */
}
    .nav .nav-list a:hover {
        color: #a3a3a3 }


input {
	text-align: center;
	font-family: 'Concert One', cursive;
	letter-spacing: 2px;
	padding-top: 30px;
	width: 600px;
	height: 60px;
	font-size: 50px;
	border: 0;
	color: rgb(104, 104, 104);
	
   }
   input::-webkit-input-placeholder {
	color: rgb(184, 184, 184);
	opacity: 1; /*Change the opacity between 0 and 1*/
	background: transparent;
}

input:focus {
	outline:none;

}

coins {
	padding-top: 30px;
	padding-right: 30px;
	width: 100px;
	height: 30px;
	font-size: 14px;
}

li { 
	color: rgb(96, 97, 97);
	text-align: left;
	font-size: 40px;
	list-style: none;
	margin-left: 30px;
}

li:hover {
	text-decoration: line-through;
}


  