html{
	/* font-family: 'Space Mono', monospace; */
	
	text-align: center;
}

body {
	font-family: 'Concert One', cursive;
	max-width: 500px;
	margin: 0 auto;
} 

.nav .nav-list{
	text-align: right;
	font-family: 'Concert One', cursive;
    text-align: right;
    letter-spacing: 3px;
    padding-top: 10px; 
    padding-bottom: 10px;
	font-size: 1.1em;
	padding-right: 0;
    
    /* margin-right: 30px; */

  }.nav .nav-list a {
    /* padding-bottom: 5px; */
    text-decoration: none;
    /* border-bottom: 1px solid rgba(155, 169, 236, 0.822);  */
}
    .nav .nav-list a:hover {
        color: #a3a3a3 }


input {
	font-family: 'Concert One', cursive;
	letter-spacing: 2px;
	padding-top: 30px;
	width: 600px;
	height: 60px;
	font-size: 40px;
	border: 0;
}

input:focus {
	outline:none;
}

coins {
	padding-top: 30px;
	padding-right: 30px;
	width: 100px;
	height: 30px;
	font-size: 14px;
}

li { 
	text-align: left;
	font-size: 40px;
	list-style: none;
	margin: 0;
}

li:hover {
	text-decoration: line-through;
}


  